.home-container{
    padding: 2rem 4rem;
}

.home-container h2{
    font-size: 40px;
    font-weight: 400;
    text-align: center;
}

.products{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 2rem;
}

.product{
    width: 250px;
    max-width: 100%;
    height: 370px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 1rem auto;
    padding: 1rem;
    border-radius: 15px;
    box-shadow: -5px -5px 10px rgba(255,255,255,0.5), 2px 2px 5px rgba(94,104,121,0.3);

}


.product img{
    width: 80%;
    margin-top: 1rem;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
}

.product h3{
    font-size: 25px;
    font-weight: 400;
    cursor: pointer;
}

.product .price{
    font-size: 20px;
    font-weight: 700;
}

.product button{
    width: 100%;
    height: 100px;
    font-size: 20px;
    border-radius: 5px;
    font-weight: 400;
    border: none;
    outline: none;
    cursor: pointer;
    background: #4b70e2;
    color: white;
    letter-spacing: 1.15px;
}