.home-container {
  padding: 2rem 4rem;
}

.home-container h2 {
  font-size: 40px;
  font-weight: 400;
  text-align: center;
}

.products {
  display: flex;
  justify-content: flex-start;
  gap: 10px;
  flex-wrap: wrap;
  margin-top: 2rem;
}

.product {
  width: 375px;
  height: 422px;
  flex-shrink: 0;
  border-radius: 10px;
  background: #fff;
  box-shadow:
    0px 4px 34px 0px rgba(0, 0, 0, 0.05),
    0px -4px 34px 0px rgba(0, 0, 0, 0.05);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  margin-bottom: 15px;
}

.product img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  cursor: pointer;
  border-radius: 10px;
}
.product p {
  padding-left: 18px;
}
.product h3 {
  font-size: 25px;
  font-weight: 400;
  font-family: Poppins;
  text-align: center;
  cursor: pointer;
}

.product .price {
  font-size: 20px;
  font-weight: 700;
  padding-left: 18px;
}

.product button {
  width: 100%;
  height: 100px;
  font-size: 20px;
  border-radius: 5px;
  font-weight: 400;
  border: none;
  outline: none;
  cursor: pointer;
  background: #4b70e2;
  color: white;
  letter-spacing: 1.15px;
}
.home-container .products .product .description {
  overflow: hidden;
  height: 626px;
}
