.checkout {
  padding-top: 10px;
}
h2 {
  color: #504e4e;
  font-family: Poppins;
  font-size: 40px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  text-align: center;
}
.checkout-title {
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 18px;
  text-transform: uppercase;
  margin: 0;
  color: rgba(0, 0, 0, 0.7);
}
.checkout-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.checkout-left {
  width: 40%;
  min-width: 350px;
}
.checkout-container .checkout-left .cart-items .cart-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 5px;
}
.checkout-container .checkout-left .cart-items .cart-item .cart-item-price {
  padding: 0;
}
.checkout-container .checkout-left .cart-checkout {
  width: 100%;
}
.checkout-price {
  font-style: normal;
  font-weight: 600;
  font-size: 60px;
  line-height: 95px;
  margin: 0;
  color: rgba(0, 0, 0, 1);
}

.checkout-description {
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  max-width: 200px;
  margin: 0 auto;
  margin-top: 10px;
  color: rgba(0, 0, 0, 0.7);
}

.checkout-product-image {
  width: 400px;
}

.checkout-button {
  background: linear-gradient(180deg, #ffffff 0%, #d9dfff 100%);
  border: 0.5px solid rgba(255, 255, 255, 0.5);
  box-sizing: border-box;
  box-shadow:
    0px 1px 3px rgba(0, 0, 0, 0.1),
    0px 20px 40px rgba(23, 0, 102, 0.2);
  border-radius: 20px;

  display: flex;

  padding: 4px;
  width: 169px;
  cursor: pointer;
  margin: 0 auto;
  margin-top: 20px;

  transition: 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.checkout-button:focus {
  outline: none;
}

.checkout-button:hover {
  box-shadow:
    0px 10px 30px rgba(0, 0, 0, 0.1),
    0px 30px 60px rgba(23, 0, 102, 0.3);
  transform: translateY(-2px);
}

.checkout-button .grey-circle {
  background: rgba(68, 66, 178, 0.1);
  box-shadow: inset 0 0 0 0.5px rgba(0, 0, 0, 0.1);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.checkout-button .purple-circle {
  background: linear-gradient(200.44deg, #4316db 13.57%, #9076e7 98.38%);
  box-shadow: inset 0 0 0 0.5px rgba(0, 0, 0, 0.1);
  width: 32px;
  height: 32px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.checkout-button .icon {
  width: 20px;
  height: 20px;
  margin: 0px;
}

.checkout-button .text-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: 4px;
  margin: auto;
  text-align: left;
  margin-left: 16px;
}

.checkout-button .text {
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  line-height: 130%;
  margin: 0;
  color: rgba(0, 0, 0, 1);
  margin: 0;
}

.separator {
  width: 300px;
  height: 1px;
  background: rgba(0, 0, 0, 0.2);
  margin: 20px auto;
}

.paypal {
  display: flex;
  gap: 20px;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10px;
}

.paypal-button-container {
  width: fit-content;
  margin: 0 auto;
}

.card-contents {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-top: 10px;
}
.card-form {
  display: flex;
  flex-direction: column;
  max-width: 286px;
  gap: 10px;
  margin-top: 10px;
}
.card-form-bottom {
  display: flex;
  flex-direction: row;
  gap: 5px;
}
.remove-button {
  cursor: pointer;
  color: #0c4ca3;
}
.card-number,
.card-name,
.card-expiry,
.card-cvc {
  height: 60px;
  border-radius: 10px;
  border-color: #e0e0e0;
  outline: none;
  color: #000;
  font-family: Poppins;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  padding: 10px;
}
.card-expiry {
  width: 70%;
}
.card-cvc {
  width: 30%;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.checkout-container
  .checkout-left
  .cart-items
  .cart-item
  .cart-item-info
  .descrip
  .desciption {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2; /* number of lines to show */
  line-clamp: 2;
  -webkit-box-orient: vertical;
}
@media screen and (max-width: 720px) {
  .checkout-container {
    flex-direction: column;
  }
  .checkout-container .checkout-left {
    display: flex;
    flex-direction: column;
    align-self: center;
  }
}
